In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [16]:
# Load the packages
import json
import requests
from sodapy import Socrata


def write_csv():
    # Load the credentials from the JSON file
    with open('credentials.json') as json_file:
        credentials = json.load(json_file)

    # Extract the username and password from the loaded JSON data
    #username = credentials.get('username')
    #password = credentials.get('password')
    MyAppToken = credentials.get('token')             
    client = Socrata("data.cityofnewyork.us",
                  MyAppToken,
                  #username=username,
                  #password=password
                    )
                 
    results = client.get("biws-g3hs", limit=1000000)
    df = pd.DataFrame(results)
    df.to_csv("yellow_tripdata_2021-01.csv", index=False, mode='w')


write_csv()

In [17]:
df = pd.read_csv('yellow_tripdata_2021-01.csv')

In [18]:
df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2017-01-01T08:29:03.000,2017-01-01T08:41:19.000,2,2.78,1,N,263,230,1,12.0,0.0,0.5,3.20,0.0,0.3,16.00
1,1,2017-01-01T08:29:04.000,2017-01-01T08:37:18.000,1,2.30,1,N,233,50,1,9.5,0.0,0.5,2.05,0.0,0.3,12.35
2,1,2017-01-01T08:29:04.000,2017-01-01T08:49:50.000,2,11.40,1,N,181,138,1,33.5,0.0,0.5,4.00,0.0,0.3,38.30
3,1,2017-01-01T08:29:05.000,2017-01-01T08:37:48.000,1,2.40,1,N,90,163,2,10.0,0.0,0.5,0.00,0.0,0.3,10.80
4,2,2017-01-01T08:29:05.000,2017-01-01T08:44:52.000,1,5.06,1,N,246,41,1,16.5,0.0,0.5,3.46,0.0,0.3,20.76

In [19]:
len(df)

1000000

In [20]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [21]:
from sqlalchemy import create_engine

In [22]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [23]:
engine.connect()

In [24]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	vendorid BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	ratecodeid BIGINT,
	store_and_fwd_flag TEXT,
	pulocationid BIGINT,
	dolocationid BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53)
)

In [25]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [26]:
df = next(df_iter)

In [27]:
len(df)

100000

In [28]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [29]:
df

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2017-01-01 08:29:03,2017-01-01 08:41:19,2,2.78,1,N,263,230,1,12.0,0.0,0.5,3.20,0.0,0.3,16.00
1,1,2017-01-01 08:29:04,2017-01-01 08:37:18,1,2.30,1,N,233,50,1,9.5,0.0,0.5,2.05,0.0,0.3,12.35
2,1,2017-01-01 08:29:04,2017-01-01 08:49:50,2,11.40,1,N,181,138,1,33.5,0.0,0.5,4.00,0.0,0.3,38.30
3,1,2017-01-01 08:29:05,2017-01-01 08:37:48,1,2.40,1,N,90,163,2,10.0,0.0,0.5,0.00,0.0,0.3,10.80
4,2,2017-01-01 08:29:05,2017-01-01 08:44:52,1,5.06,1,N,246,41,1,16.5,0.0,0.5,3.46,0.0,0.3,20.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2017-01-01 01:18:46,2017-01-01 01:45:10,1,4.07,1,N,148,263,1,18.5,0.5,0.5,3.96,0.0,0.3,23.76
99996,2,2017-01-01 01:18:46,2017-01-01 01:31:43,2,1.12,1,N,79,164,1,9.5,0.5,0.5,1.00,0.0,0.3,11.80
99997,2,2017-01-01 01:18:46,2017-01-01 01:23:17,1,0.76,1,N,163,229,2,5.0,0.5,0.5,0.00,0.0,0.3,6.30
99998,2,2017-01-01 01:18:46,2017-01-01 01:30:08,1,2.00,1,N,142,24,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30
99999,2,2017-01-01 01:18:46,2017-01-01 01:25:48,1,1.14,1,N,146,7,2,7.0,0.5,0.5,0.00,0.0,0.3,8.30

In [30]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [31]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 10.8 s
Wall time: 19.9 s

1000

In [33]:
from time import time

In [34]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 21.591 second
inserted another chunk, took 20.109 second
inserted another chunk, took 19.630 second
inserted another chunk, took 19.781 second
inserted another chunk, took 19.630 second
inserted another chunk, took 20.528 second
inserted another chunk, took 19.837 second
inserted another chunk, took 19.949 second
inserted another chunk, took 20.337 second

StopIteration:

In [35]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [36]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [38]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [42]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')